.foto{
    margin-top: 15px;
    width: 23%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;}

.info{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 73%;
    height: auto; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: rgb(164, 160, 160);
    border: solid;
    box-shadow: 10px 0 15px -10px rgba(0, 0, 0, 0.5), 
        0 10px 15px -10px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;}

.nombre{
    display: flex;
    background-color: #f2c1a7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60px;
    line-height: 52px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor{
    background: linear-gradient(to bottom, #e67c55 45px, #f2956b 32%, #ffe8dd); 
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 70%;
    border-top-left-radius: 22px ;
    border-top-right-radius: 22px ;
    border-bottom-left-radius: 22px ;
    border-bottom-right-radius: 22px ;}

div.foto img  {width: 90%;
    margin-bottom: 20px;
    border-top-left-radius: 35px;}

#nombre {
    width: 100%;
    height: 100%;
    vertical-align : middle;
    margin: 0px;
    left:15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    color:white;
    
}

.desc{
    font-style: italic;
    font-size: 150%;
}

.texto{
    border-spacing: 40px 15px;
    position: relative;
    left: -40px;
    font-size: 110%;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:visited {
    color: red;
}

  

.datos{
    position: relative;
    width: 100%;
}

        
.perfil{
    margin: 0;
    height: 100%;
}

header{
    margin: 0;
    background-color: #87b1ef;
}

.nav{
    margin: 0;
}

ul{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    display: inline;
    text-align: center;
   
}

nav > ul > li {
    margin: 0;
    background-color: #87b1ef;
    color: white;
    height: 50px;
    line-height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo{
    width: 33%;
    font-size: 200%;
    border-right: 1px solid white;
    z-index: 2;
}

.nombres{
    width: 34%;
    font-size: 120%;
}

.buscador{
    width: 33%;
    border-left: 1px solid white;
    z-index: 2;
}

li.titulo span{
    font-size: 40%;
}

.index{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0%;
}

section{
    margin: 0px;
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.fila{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 230px;
    margin: 0px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    justify-items: center;
    
}

.fila li{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.img{
    min-width: 250px;
    width: 23%;
    height: 100%;
    box-shadow: 10px 0 15px -10px rgba(0, 0, 0, 0.5), 
        0 10px 15px -10px rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #87b1ef;
}

li > img{
    top:5%;
    width: 30%;
    height: 60%;
    padding-top: 6%;
}

footer{
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #87b1ef;
    color: white;
    bottom: 0px;
    margin: 0px;
    order: 2;
    align-items: flex-end;
}

p{  
    margin: 0px;
}

form{
    width: 100%;
    text-align: center;
}

input[type=text]{
    width: 50% ;
}

input[type=submit]{
    background-color: aliceblue;
}

 /* Animacion */ 

 ul.fila li {
    transition: all 0.5s ease;
    transform-origin: center;
}

ul.fila li:hover {
    transform: scale(1.1) rotate(5deg);
    background-color: #99c5dd;
}

ul.fila li img, ul.fila li p.text {
    transition: all 0.5s ease;
}

ul.fila li:hover img, ul.fila li:hover p.text {
    transform: scale(1.1);
}

/* responsive */

@media only screen and (max-width: 480px) {
    .contenedor{
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .foto{
        width: 60%;
    }
    
    .info {
        width: 95%;
    }

 

    .maximiliano{
        text-align: center;
        font-size: 150%;
    }

    .desc{font-size: 100%;}

    .texto{
        font-size: 90%;
        border-spacing: 20px 8px;
        left: -20px;}

    .nombre{height: 40px;}

    .nombres{
        font-size: 70%;
    }

    .titulo{
        font-size: 80%;
    }

    li.titulo span{
        font-size: 20%;
    }

    .buscador{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form{
        display: flex;
        width: 80%;
        align-items: center;
        text-align: center;
        line-height: 50px;
    }

    .place{
        width: 20%;
    }

    .boton{
        width: 60%;
    }

    .img{
        min-width: 150px;
        height: 150px;
    }
    
  } 


  /* Tablets (481px - 768px) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {

    .contenedor{
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .foto{
        width: 60%;
    }
    
    .info {
        width: 95%;
    }

    .maximiliano{
        text-align: center;
        font-size: 150%;
    }

    .desc{font-size: 100%;}

    .texto{
        font-size: 90%;
        border-spacing: 20px 8px;
        left: -20px;}
    

    .nombre{height: 50px;}

    .buscador{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form{
        display: flex;
        width: 80%;
        align-items: center;
        text-align: center;
        line-height: 50px;
    }

    .place{
        width: 20%;
    }

    .boton{
        width: 60%;
    }

    .img{
        min-width: 150px;
        height: 150px;
    }
    
  } 
  
  /* Small Screens/Laptops (769px - 1024px) */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .desc{font-size: 100%;}

    .texto{
        font-size: 90%;
        border-spacing: 20px 3px;
        left: -20px;}

    .info{
        width: 70%;
    }

    .foto{
        width: 26%;
    }

    .nombre{height: 50px;}
    
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .texto{
        font-size: 110%;
    }
  }